.informations {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 5vw 0;
}

@media (max-width: 1024px) {
  .informations {
    padding: 8vw 0;
  }
}

@media (max-width: 576px) {
  .informations {
    padding: 10vw 0;
  }
}

.container {
  width: 80vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    width: 90vw;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleScreen {
  width: 50%;
  font-size: 2.4vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-small);
  margin-top: 1.5vw;
  text-align: center;

  & span {
    color: var(--color-blue);
  }
}

@media (max-width: 1024px) {
  .titleScreen {
    font-size: 4vw;
    width: 90%;
    margin-top: 3vw;
    line-height: var(--font-lineh-small2);
  }
}

@media (max-width: 576px) {
  .titleScreen {
    font-size: 6vw;
    margin-top: 3vw;
    width: 100%;
  }
}

.textDescription {
  width: 60%;
  text-align: center;
  font-size: 1vw;
  color: var(--color-gray);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-normal-another);
  margin-top: 1.5vw;
}

@media (max-width: 1024px) {
  .textDescription {
    width: 100%;
    font-size: 1.8vw;
    margin-top: 2vw;
  }
}

@media (max-width: 576px) {
  .textDescription {
    width: 100%;
    font-size: 3.6vw;
    margin-top: 4vw;
  }
}

.sphera {
  z-index: 1;
}

@media (max-width: 1024px) {
  .sphera {
    display: none;
  }
}

.blocksWithExperience {
  display: flex;
  flex-direction: row;
  margin-top: 3vw;
  gap: 1.5vw;
  z-index: 3;

  & .card {
    display: flex;
    flex-direction: column;
    width: 25%;
    background: rgba(23, 23, 23, 1);
    border: 0.01vw solid rgba(255, 255, 255, 0.05);
    border-radius: 0.75vw;
    padding: 1.5vw 1.5vw;
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-0.5vw);
      border: 0.01vw solid rgb(59 130 246 / 0.5);
      box-shadow: 0px 0.2vw 0.4vw 0vw rgb(59 130 246 / 0.2);
    }

    & .iconAndTextBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1vw;

      & .cardTitleMain {
        width: 73%;
        font-size: 1vw;
        color: var(--color-white);
        font-family: var(--font-Inter);
        font-weight: var(--font-weight-bold);
        line-height: var(--font-lineh-normal);
      }
    }

    & .iconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
      background-color: rgba(10, 10, 10, 1);
      border: 0.01vw solid rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease;

      & .cardIcon {
        width: 1.5vw;
        height: 1.5vw;
        color: var(--color-blue-for-icon);
        transition: all 0.3s ease;

        &.colorPurple {
          color: var(--color-purple-for-icon);
        }

        &.colorGreen {
          color: var(--color-green);
        }

        &.colorOrange {
          color: var(--color-orange-for-icon);
        }
      }
    }

    & .cardTitleAndDescription {
      & .cardTitle {
        font-size: 1vw;
        color: var(--color-white);
        font-family: var(--font-Inter);
        font-weight: var(--font-weight-bold);
        line-height: var(--font-lineh-small);
        margin-top: 1vw;
        display: none;
      }

      & .cardDescription {
        font-size: 0.75vw;
        color: var(--color-gray);
        font-family: var(--font-Inter);
        font-weight: var(--font-weight-regular);
        line-height: var(--font-lineh-normal-another);
        margin-top: 1vw;
      }
    }
  }
}

@media (max-width: 1024px) {
  .blocksWithExperience {
    flex-wrap: wrap;
    margin-top: 4vw;
    gap: 3vw;

    & .card {
      flex-direction: row;
      gap: 2.5vw;
      width: 100%;
      border-radius: 2vw;
      padding: 3vw 3vw;

      &:hover {
        transform: translateY(0vw);
        border: 0.01vw solid rgba(255, 255, 255, 0.05);
        box-shadow: 0px 0vw 0vw 0vw rgb(59 130 246 / 0.2);
      }

      & .iconAndTextBlock {
        align-items: start;
        & .cardTitleMain {
          display: none;
        }
      }

      & .iconContainer {
        width: 7vw;
        height: 7vw;

        & .cardIcon {
          width: 3vw;
          height: 3vw;
        }
      }

      & .cardTitleAndDescription {
        display: flex;
        flex-direction: column;
        width: 90%;

        & .cardTitle {
          display: flex;
          font-size: 2.4vw;
          // margin-top: 2.5vw;
          margin-top: 0.3vw;
        }

        & .cardDescription {
          font-size: 1.8vw;
          // margin-top: 1.5vw;
          margin-top: 1vw;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .blocksWithExperience {
    margin-top: 5vw;
    gap: 5vw;

    & .card {
      gap: 5vw;
      border-radius: 4vw;
      padding: 5vw 5vw;

      & .iconContainer {
        width: 12vw;
        height: 12vw;

        & .cardIcon {
          width: 6vw;
          height: 6vw;
        }
      }

      & .cardTitleAndDescription {
        width: 82%;

        & .cardTitle {
          font-size: 4.6vw;
          // margin-top: 4vw;
          margin-top: 0.5vw;
        }

        & .cardDescription {
          font-size: 3.6vw;
          // margin-top: 3vw;
          margin-top: 1.5vw;
        }
      }
    }
  }
}
