.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

@media (max-width: 576px) {
  .hero {
    min-height: 100%;
    padding-top: 20vw;
    padding-bottom: 5vw;
  }
}

.neonCircle {
  position: absolute;
  border-radius: 50%;
  animation: translateY 4s ease-in-out infinite;
  z-index: 0;

  &.bluePrint {
    width: 22vw;
    height: 22vw;
    background: rgba(59, 130, 246, 0.15);
    top: -2%;
    right: -1%;
    animation-delay: 0s;
    filter: blur(4vw);
  }

  &.pinkPrint {
    width: 17vw;
    height: 17vw;
    background: rgba(168, 85, 247, 0.15);
    top: 60%;
    right: -7%;
    animation-delay: 2s;
    filter: blur(4vw);
  }
}

@media (max-width: 1024px) {
  .neonCircle {
    &.bluePrint {
      width: 60vw;
      height: 60vw;
      top: 0%;
      right: 0%;
      animation-delay: 0s;
      filter: blur(15vw);
    }

    &.pinkPrint {
      width: 60vw;
      height: 60vw;
      top: 70%;
      right: -10%;
      animation-delay: 2s;
      filter: blur(15vw);
    }
  }
}

@media (max-width: 576px) {
  .neonCircle {
    &.bluePrint {
      width: 80vw;
      height: 80vw;
      top: 0%;
      right: 25%;
      animation-delay: 0s;
      filter: blur(15vw);
    }

    &.pinkPrint {
      width: 80vw;
      height: 80vw;
      top: 70%;
      right: -10%;
      animation-delay: 2s;
      filter: blur(15vw);
    }
  }
}

@keyframes translateY {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3vw);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  @keyframes translateY {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-8vw);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@media (max-width: 576px) {
  @keyframes translateY {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-14vw);
    }

    100% {
      transform: translateY(0);
    }
  }
}

.container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}

.textContent {
  width: 55%;
}

@media (max-width: 1024px) {
  .textContent {
    width: 100%;
  }
}

.badge {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35vw;
  padding: 0.3vw 0.6vw;
  border-radius: 2vw;
  background-color: rgba(255, 255, 255, 0.05);
  border: 0.1vw solid rgba(255, 255, 255, 0.1);

  & .badgeIndicator {
    width: 0.75vw;
    height: 0.75vw;
    border-radius: 50%;
    fill: var(--color-blue);
    animation: pulse 2s infinite;
  }

  & p {
    display: flex;
    font-size: 0.65vw;
    color: var(--color-blue);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: calc(var(--font-lineh-small));
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

@media (max-width: 1024px) {
  .badge {
    gap: 0.5vw;
    padding: 0.5vw 1vw;
    padding-right: 1.5vw;
    border-radius: 2vw;

    & .badgeIndicator {
      width: 2vw;
      height: 2vw;
    }

    & p {
      font-size: 1.65vw;
      letter-spacing: 0.1em;
    }
  }
}

@media (max-width: 576px) {
  .badge {
    gap: 1vw;
    padding: 1.5vw 2vw;
    padding-right: 3vw;
    border-radius: 5vw;

    & .badgeIndicator {
      width: 4vw;
      height: 4vw;
    }

    & p {
      font-size: 3vw;
      letter-spacing: 0.2em;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}

.headline {
  font-size: 3.4vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-small);
  letter-spacing: -0.025em;
  margin-top: 2.5vw;

  & .gradientText {
    background: linear-gradient(to right, rgba(59, 130, 246, 1), rgba(168, 85, 247, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

@media (max-width: 1024px) {
  .headline {
    font-size: 7vw;
    letter-spacing: -0.025em;
    margin-top: 4vw;
    line-height: var(--font-lineh-small2);
  }
}

@media (max-width: 576px) {
  .headline {
    font-size: 10vw;
    letter-spacing: -0.01em;
    margin-top: 5vw;
  }
}

.descriptionBlock {
  max-width: 26vw;
  margin-top: 6vw;

  .description {
    font-size: 1vw;
    color: var(--color-gray);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-normal-another);

    & .highlight {
      color: white;
    }
  }
}

@media (max-width: 1024px) {
  .descriptionBlock {
    max-width: 100%;
    margin-top: 4vw;

    .description {
      font-size: 2.2vw;
    }
  }
}

@media (max-width: 576px) {
  .descriptionBlock {
    margin-top: 6vw;

    .description {
      font-size: 4vw;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-top: 3vw;

  & .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    border-radius: 0.35vw;
    padding: 0.75vw 1.4vw;
    background: var(--color-blue);
    font-size: 0.85vw;
    color: var(--color-white);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-smallStrong);
    line-height: var(--font-lineh-normal);
    cursor: pointer;
    gap: 0.25vw;
    box-shadow: 0 0.1vw 0.25vw 0.15vw rgba(59, 130, 246, 0.2);
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: rgb(37 99 235);
      transform: scale(1.03);
    }

    &.buttonTwo {
      border: 0.1vw solid rgba(255, 255, 255, 0.1);
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow: none;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border: 0.1vw solid rgba(255, 255, 255, 0.2);
        transform: scale(1);
      }
    }

    & .buttonIcon {
      width: 0.85vw;
      height: 0.85vw;
      fill: var(--color-white);
    }

    & .buttonIconTwo {
      width: 1.2vw;
      height: 1.2vw;
      fill: var(--color-white);
    }
  }
}

@media (max-width: 1024px) {
  .buttons {
    gap: 3vw;
    margin-top: 4vw;

    & .button {
      border-radius: 1vw;
      padding: 1.5vw 3vw;
      font-size: 1.8vw;
      cursor: pointer;
      gap: 1vw;

      & .buttonIcon {
        width: 2vw;
        height: 2vw;
      }

      & .buttonIconTwo {
        width: 2.2vw;
        height: 2.2vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .buttons {
    flex-direction: column;
    gap: 5vw;
    margin-top: 6vw;

    & .button {
      border-radius: 2vw;
      padding: 4vw 5vw;
      font-size: 3.6vw;
      gap: 2vw;

      & .buttonIcon {
        width: 3vw;
        height: 3vw;
      }

      & .buttonIconTwo {
        width: 5vw;
        height: 5vw;
      }
    }
  }
}

.note {
  margin-top: 1.7vw;
  font-size: 0.65vw;
  color: var(--color-gray-for-note-Hero);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-normal);
}

@media (max-width: 1024px) {
  .note {
    margin-top: 3vw;
    font-size: 1.8vw;
  }
}

@media (max-width: 576px) {
  .note {
    margin-top: 5vw;
    font-size: 3.6vw;
  }
}

.visualContent {
  display: flex;
  position: relative;
  width: 50%;

  & .backgroundImage {
    border: 0.01vw solid rgba(85, 85, 85, 0.1);
    border-radius: 0.75vw;
    width: 100%;
  }

  .flyBlockWithLine {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7.5vw;
    left: -2.7vw;
    width: 13.5vw;
    background: var(--color-dark-gray);
    padding: 0.9vw 1vw;
    border: 0.01vw solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75vw;
    gap: 0.25vw;
    transform: scale(0.9);
    animation: flyDiagonal 8s ease-in-out infinite;
    will-change: transform;

    & .flyBlockBlockTexts {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & p {
        font-size: 0.65vw;
        color: var(--color-light-gray-for-fly-block);
        font-family: var(--font-Inter);
        font-weight: var(--font-weight-regular);
        line-height: var(--font-lineh-normal);

        &.blueText {
          color: var(--color-blue);
        }
      }
    }

    & .flyBlockTitle {
      font-size: 1.3vw;
      color: var(--color-white);
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
    }

    & .flyBlockDescription {
      font-size: 0.65vw;
      color: var(--color-green);
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-regular);
      line-height: var(--font-lineh-normal);
    }

    .progress {
      width: 100%;
      height: 0.25vw;
      background: #2c2c2c; // темный фон
      border-radius: 999vw;
      overflow: hidden;
      margin-top: 0.25vw;

      & .progressFill {
        height: 100%;
        background: linear-gradient(90deg, #4f8cff 0%, #6aa9ff 100%);
        border-radius: 999vw;
        transition: width 0.3s ease;
        box-shadow: 0 0 6px rgba(106, 169, 255, 0.7);
      }
    }
  }

  .flyBlockCost {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 7.8vw;
    right: -2.7vw;
    width: 13vw;
    background: var(--color-dark-gray);
    padding: 0.9vw 1vw;
    border: 0.01vw solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75vw;
    gap: 0.75vw;
    transform: scale(0.9);
    animation: flyDiagonal 8s ease-in-out infinite;
    animation-delay: 3s;
    will-change: transform;

    & .flyBlockWithBackground {
      display: flex;
      background: rgba(34, 197, 94, 0.2);
      padding: 0.6vw;
      border-radius: 50%;

      & p {
        font-size: 1.1vw;
        color: var(--color-green);
        font-family: var(--font-Inter);
        font-weight: var(--font-weight-bold);
        line-height: var(--font-lineh-small2);
      }
    }

    & .flyBlockTitleAndDescrColumn {
      display: flex;
      flex-direction: column;
      gap: 0.15vw;

      & .flyBlockTitle {
        font-size: 0.8vw;
        color: var(--color-white);
        font-family: var(--font-Inter);
        font-weight: var(--font-weight-bold);
        line-height: var(--font-lineh-normal);
      }

      & .flyBlockDescription {
        font-size: 0.65vw;
        color: var(--color-green);
        font-family: var(--font-Inter);
        font-weight: var(--font-weight-regular);
        line-height: var(--font-lineh-normal);
      }
    }
  }

  & .blockForLink {
    position: absolute;
    right: 10.91vw;
    bottom: 4.81vw;
    opacity: 0.1;

    & .linkText {
      text-decoration: none;
      font-size: 0.87vw;
      color: var(--color-for-link-in-hero);
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      letter-spacing: -0.01vw;
    }
  }
}

@media (max-width: 1024px) {
  .visualContent {
    display: none;
  }
}

@keyframes flyDiagonal {
  0% {
    transform: translate(0, 0) scale(0.9);
    opacity: 1;
  }
  33% {
    transform: translate(1vw, -1.5vw) scale(1);
  }
  66% {
    transform: translate(2vw, -2.5vw) scale(1.06);
  }
  100% {
    transform: translate(0, 0) scale(0.9);
  }
}
