.spheraMainBlock {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

.circlesBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.borderCirclePurple {
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  border: 0.1vw solid rgba(168, 85, 247, 0.1);
  animation: flyCircle 8s ease-in-out infinite;
}

.borderCircleBlue {
  position: absolute;
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
  border: 0.1vw solid rgba(59, 130, 246, 0.2);
  animation: flyCircle 8s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes flyCircle {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(10vw, 10vw);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.blockForMainIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2563eb 0%, #1e3a8a 100%);
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  box-shadow: 0 0 2.5vw 0 rgba(59, 130, 246, 0.5);

  & .mainIcon {
    width: 3vw;
    height: 3vw;
    fill: var(--color-white);
  }
}

.iconsAndTextBlock {
  display: flex;

  & .iconsAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
    position: absolute;

    &:hover {
      & .iconContainer {
        transform: scale(1.05);

        &.iconContainerCRM {
          border: 0.1vw solid rgba(245, 158, 11, 0.5);
          box-shadow: 0px 0px 1vw 0px rgba(245, 158, 11, 0.1);
        }

        &.iconContainerMANUFACTURER {
          border: 0.1vw solid rgba(6, 182, 212, 0.5);
          box-shadow: 0px 0px 1vw 0px rgba(6, 182, 212, 0.1);
        }

        &.iconContainerAI {
          border: 0.1vw solid rgba(168, 85, 247, 0.5);
          box-shadow: 0px 0px 1vw 0px rgba(168, 85, 247, 0.1);
        }

        &.iconContainerMECHANIK {
          border: 0.1vw solid rgba(34, 197, 94, 0.5);
          box-shadow: 0px 0px 1vw 0px rgba(34, 197, 94, 0.1);
        }

        &.iconContainerCLIENT {
          border: 0.1vw solid rgba(59, 130, 246, 0.5);
          box-shadow: 0px 0px 1vw 0px rgba(59, 130, 246, 0.1);
        }

        &.iconContainerDEALER {
          border: 0.1vw solid rgba(249, 115, 22, 0.5);
          box-shadow: 0px 0px 1vw 0px rgba(249, 115, 22, 0.1);
        }
      }
    }

    &.positionCRM {
      top: 4vw;
      left: -2vw;
    }

    &.positionMANUFACTURER {
      top: 14vw;
      left: -9.5vw;
    }

    &.positionAI {
      bottom: 2.5vw;
      left: -1.3vw;
    }

    &.positionMECHANIK {
      top: 4.2vw;
      right: -2.5vw;
    }

    &.positionCLIENT {
      top: 14.5vw;
      right: -9vw;
    }

    &.positionDEALER {
      bottom: 2.5vw;
      right: -1vw;
    }

    & .iconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.2vw;
      height: 3.2vw;
      border-radius: 0.5vw;
      background-color: rgba(23, 23, 23, 0.8);
      border: 0.1vw solid rgba(255, 255, 255, 0.1);
      transition: all 0.2s ease;
      backdrop-filter: blur(0.4vw);

      &.iconContainerCRM {
        border: 0.1vw solid rgba(245, 158, 11, 0.3);
        box-shadow: 0px 0px 1vw 0px rgba(245, 158, 11, 0.1);

        & .cardIcon {
          color: var(--color-orange-for-icon);
        }
      }

      &.iconContainerMANUFACTURER {
        border: 0.1vw solid rgba(6, 182, 212, 0.3);
        box-shadow: 0px 0px 1vw 0px rgba(6, 182, 212, 0.1);

        & .cardIcon {
          color: var(--color-light-blue-for-icon);
        }
      }

      &.iconContainerAI {
        border: 0.1vw solid rgba(168, 85, 247, 0.3);
        box-shadow: 0px 0px 1vw 0px rgba(168, 85, 247, 0.1);

        & .cardIcon {
          color: var(--color-purple-for-icon);
        }
      }

      &.iconContainerMECHANIK {
        border: 0.1vw solid rgba(34, 197, 94, 0.3);
        box-shadow: 0px 0px 1vw 0px rgba(34, 197, 94, 0.1);

        & .cardIcon {
          color: var(--color-light-green-for-icon);
        }
      }

      &.iconContainerCLIENT {
        border: 0.1vw solid rgba(59, 130, 246, 0.3);
        box-shadow: 0px 0px 1vw 0px rgba(59, 130, 246, 0.1);

        & .cardIcon {
          color: var(--color-blue);
        }
      }

      &.iconContainerDEALER {
        border: 0.1vw solid rgba(249, 115, 22, 0.3);
        box-shadow: 0px 0px 1vw 0px rgba(249, 115, 22, 0.1);

        & .cardIcon {
          color: var(--color-orange-for-icon-two);
        }
      }

      & .cardIcon {
        width: 1.5vw;
        height: 1.5vw;
        color: var(--color-blue-for-icon);
        transition: all 0.1s ease;
      }
    }

    & .cardTitle {
      font-size: 0.7vw;
      color: var(--color-orange-for-icon);
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-small);
      letter-spacing: 0.1vw;
      text-transform: uppercase;
      padding: 0.25vw 0.5vw;
      border-radius: 0.25vw;
      border: 0.01vw solid rgba(245, 158, 11, 0.3);

      &.cardTitleCyan {
        color: var(--color-light-blue-for-icon);
        border: 0.01vw solid rgba(6, 182, 212, 0.3);
      }

      &.cardTitlePurple {
        color: var(--color-purple-for-icon);
        border: 0.01vw solid rgba(168, 85, 247, 0.3);
      }

      &.cardTitleLightGreen {
        color: var(--color-light-green-for-icon);
        border: 0.01vw solid rgba(34, 197, 94, 0.3);
      }

      &.cardTitleLightBlue {
        color: var(--color-blue);
        border: 0.01vw solid rgba(59, 130, 246, 0.3);
      }

      &.cardTitleOrange {
        color: var(--color-orange-for-icon-two);
        border: 0.01vw solid rgba(249, 115, 22, 0.3);
      }
    }
  }
}
