/* Шрифт Inter */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 100 900; /* Диапазон весов */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 100 900; /* Диапазон весов */
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(10, 10, 10, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

:root {
  --font-Inter: 'Inter';
  --font-lineh-small: 1em;
  --font-lineh-small2: 1.2em;
  --font-lineh-normal: 1.4em;
  --font-lineh-normal-another: 1.6em;
  --font-lineh-big: 1.7em;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-smallStrong: 500;
  --font-weight-smallBold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --color-white: white;
  --color-black: black;
  --color-blue: rgba(59, 130, 246, 1);
  --color-blue-for-icon: #3b82f6;
  --color-purple-for-icon: rgba(168, 85, 247, 1);
  --color-purple-for-data-tag: rgba(192, 132, 252, 1);
  --color-orange-for-icon: rgba(245, 158, 11, 1);
  --color-light-blue-for-icon: rgba(6, 182, 212, 1);
  --color-light-green-for-icon: rgba(74, 222, 128, 1);
  --color-orange-for-icon-two: rgba(249, 115, 22, 1);
  --color-red-for-icon: rgba(239, 68, 68, 1);
  --color-light-blue: rgba(96, 165, 250, 1);
  --color-gray: rgba(156, 163, 175, 1);
  --color-light-gray: rgba(209, 213, 219, 1);
  --color-light-gray-for-fly-block: rgba(156, 163, 175, 1);
  --color-light-gray-for-data-block: rgba(209, 213, 219, 1);
  --color-gray-for-note-Hero: rgba(107, 114, 128, 1);
  --color-dark-gray: rgba(23, 23, 23, 1);
  --color-green: rgba(34, 197, 94, 1);
  --color-light-green: rgba(158, 240, 26, 1);
  --color-pink: rgba(192, 132, 252, 1);
  --color-for-link-in-hero: #01fafa;
}
